.datosAventoria{
    margin-top: 40px;
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size:20px

 
}
.datosAventoria h1{
padding: 20px;
color: var(--aventoria-dark);

}

.texto {
    width: 800px;
    padding: 40px
    
}
.cajitas p {
    color: var(--darkblue);
   
}
.fotoPerso{
    height: 250px
}
 .equipo .cajaCentral {
    display: flex;
    flex-wrap: wrap;
}

.inicio {
    background-color: var(--orange);
    border: none;
    padding: 10px;
    width: 350px;
    color: white;
    margin: 40px 0px;
    transition: background-color .4s ease;
}
