.descripcion{
    margin-top: 40px;
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size:20px
 
}
.descripcion h1{
padding: 20px;
color: var(--aventoria-dark);
}

.texto {
    width: 800px;
    padding: 40px
    
}
.cajitas p {
    color: var(--darkblue);
}
.fotovale{
    height: 400px
}
 .ejemplo .cajaCentral {
    display: flex;
    flex-wrap: wrap;
}

.inicio {
    background-color: var(--orange);
    border: none;
    padding: 10px;
    width: 350px;
    color: white;
    margin: 80px 0px;
    transition: background-color .4s ease;
}

.contacto {
    margin-top: 100px;
}