:root {
  --aventoria-darkest: #01757f;
  --aventoria-dark: #008b97;
  --aventoria-medium: #98c5ca;
  --aventoria-light: #d6e8ea;
  --lightorange: #e98538;
  --orange: #ea6e0e;
  --darkorange: #c85e0d;
  --darkblue: #202d61;
  --gray: #e5e5e5;
  --darkgray: #999;
}

.App {
  text-align: center;
  font-family: "Raleway", sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.App > main {
  flex-grow: 1;
}

.App .contenido {
  flex: 1 1 auto;
  display: flex;
}

.aventoria_button {
  background-color: var(--orange);
  border: none;
  color: white;
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.4s ease;
}

.aventoria_button:hover {
  background-color: var(--darkorange);
}

.aventoria_button_second {
  background-color: var(--aventoria-dark);
  border: none;
  color: white;
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.4s ease;
}

.aventoria_button_second:hover {
  background-color: var(--aventoria-darkest);
}

p {
  margin: 0;
}
