.CancelReservation {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -150px;
  margin-left: -300px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  color: var(--darkblue);
  z-index: 1;
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.2);
  animation: fadeEnter 0.3s ease-in-out 0s both;
  width: 600px;
  height: 300px;
}

.CancelReservation form {
  width: 450px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.CancelReservation .cancel_button_area {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

@keyframes fadeEnter {
  from {
    opacity: 0;
    transform: translateY(-10%);
  }

  to {
    opacity: 1;
    transform: translateY(0%);
  }
}
