.CartList {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: var(--darkblue);
  overflow-x: hidden;
}

.CartList a {
  color: var(--darkgray);
  cursor: default;
}

.cart_list_central {
  width: 90vw;
}

.cart_progress_bar {
  background-color: var(--aventoria-light);
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 25px;
  padding-bottom: 20px;
  margin-bottom: 30px;
}

.cart_progress_bar nav {
  width: 80vw;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  list-style: none;
  font-size: 15px;
}

.cart_progress_number {
  background-color: var(--orange);
  color: white;
  font-size: 18px;
  border-radius: 50%;
  padding: 5px 12px 7px 12px;
  margin-right: 20px;
  width: 40px;
  display: block;
}

.cart_progress_bar nav a {
  text-align: left;
  padding-bottom: 10px;
}

.CartList .active {
  color: var(--darkblue);
  text-decoration: none;
}

.cart_list_central .cards_area {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
}

.cards_list {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
}

.cart_list_central .card {
  background-color: var(--aventoria-light);
  width: 100%;
  padding: 20px;
  margin-bottom: 20px;
  text-align: left;
  position: relative;
}

.card .product_name {
  font-weight: 700;
  font-size: 20px;
}

.card .product_photo {
  width: 100%;
  height: 100px;
  background-size: cover;
  background-position: center;
  margin-right: 30px;
  margin-bottom: 10px;
}

.card .product_data {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  flex-direction: column;
}
.card .product_quantity_price {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin: 0;
  height: 30px;
}

.card .product_name,
.card .product_quantity,
.card .product_price,
.card .product_date_selected {
  color: var(--darkblue);
  margin-bottom: 0;
}

.product_quantity span {
  font-weight: 700;
}
.card .product_price {
  color: var(--orange);
  font-weight: 700;
  font-size: 24px;
}

.card .product_eliminate {
  position: absolute;
  right: 0;
  top: 0;
  background-color: var(--aventoria-light);
  border: none;
  color: var(--darkgray);
  font-weight: 700;
  padding: 2px 5px 2px 5px;
  cursor: pointer;
  transition: background-color 0.4s ease;
}

.card .product_eliminate:hover {
  background-color: var(--aventoria-medium);
}

.cart_list_central .product_total {
  background-color: var(--aventoria-light);
  padding: 20px;
}

.product_total_box {
  background-color: var(--aventoria-medium);
  padding: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.product_total_box_price {
  color: var(--darkblue);
  font-weight: 700;
  font-size: 24px;
}

.product_total_box p {
  margin: 0;
}
.product_total_buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cart_related {
  margin-bottom: 60px;
}

.cart_related h3 {
  font-size: 22px;
  font-weight: 700;
  color: var(--orange);
  margin-top: 40px;
  margin-bottom: 40px;
}

.cart_related_cards {
  width: 100%;
  display: grid;
  grid-template-columns: auto;
  gap: 20px;
  margin: 0px 0 20px 0;
}

.cards_photo {
  min-width: 150px;
  height: 200px;
  background-size: cover;
  background-position: center;
}

.cards_name {
  margin-top: 10px;
}
.aventoria_button_light {
  background-color: var(--lightorange);
  border: none;
  color: white;
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.4s ease;
  margin-right: 20px;
}

.aventoria_button_light:hover {
  background-color: var(--darkorange);
}

.aventoria_button_dark {
  background-color: var(--orange);
  border: none;
  color: white;
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.4s ease;
}

.aventoria_button_dark:hover {
  background-color: var(--darkorange);
}

/* Personal Data */
.CartPersonalData h1 {
  font-weight: 700;
  font-size: 20px;
  color: var(--orange);
  text-align: center;
}

.CartPersonalData {
  display: flex;
  justify-items: center;
  flex-direction: column;
}

.personal_data_form label {
  display: flex;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  text-align: left;
}

.personal_data_form {
  width: 90vw;
}

.personal_data_form span {
  width: 200px;
  margin-top: 20px;
}

.personal_data_form input {
  width: 100%;
  background-color: var(--aventoria-light);
  border: none;
  padding: 5px;
}

.personal_data_buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
  margin-bottom: 60px;
}

/* Payment */
.CartPayment {
  width: 90vw;
  padding: 50px;
  background-color: var(--aventoria-light);
  margin: 80px 0 180px 0;
}
.order_details {
  text-align: left;
  color: var(--darkblue);
}

.order_details_title {
  font-weight: 700;
  font-size: 20px;
}

.order_details_total {
  display: flex;
  justify-content: space-between;
}

.order_price {
  font-weight: 700;
  font-size: 30px;
  margin: 0;
  color: var(--orange);
}

.order_details .order_details_payment {
  display: flex;
  justify-content: space-between;
}

.order_details .order_details_line {
  border-top: 1px solid var(--darkgray);
  margin: 20px 0 30px 0;
}

.order_details_payment img {
  height: 30px;
}

/* Confirmation */
.CartConfirmation {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.confirmation_container {
  background-color: var(--aventoria-light);
  width: 600px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 40px;
  margin: 200px 0 200px 0;
}

.confirmation_container img {
  width: 100px;
  margin-bottom: 30px;
}

.confirmation_container h1 {
  color: var(--darkblue);
  font-weight: 700;
}

.confirmation_container a {
  color: var(--darkblue);
  text-decoration: underline;
}

@media (min-width: 700px) {
  .cart_progress_bar {
    justify-content: center;
  }

  .cart_progress_bar nav {
    width: 90vw;
    justify-content: space-between;
  }
  .cart_progress_number {
    display: inline;
  }

  .cart_list_central .cards_area {
    grid-template-columns: 68% 30%;
    gap: 20px;
    grid-template-rows: auto;
  }

  .cart_list_central .product_total {
    background-color: var(--aventoria-light);
    height: 250px;
  }

  .product_total_buttons {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
  }

  .aventoria_button_light {
    width: 100%;
    margin-right: 0;
    margin-bottom: 20px;
  }

  .aventoria_button_dark {
    width: 100%;
  }

  .cart_related_cards {
    grid-template-columns: repeat(5, 1fr);
  }

  .cards_photo {
    min-width: 100px;
    height: 100px;
    background-size: cover;
    background-position: center;
  }

  /* Personal Data */

  .personal_data_form {
    width: 600px;
  }

  /* Payment */
  .CartPayment {
    width: 600px;
  }

  .order_details_payment img {
    height: 40px;
  }
}

@media (min-width: 1200px) {
  .cart_progress_bar nav {
    width: 70vw;
  }

  .cart_list_central {
    width: 70vw;
  }

  .cart_list_central .cards_area {
    grid-template-columns: 68% 30%;
    gap: 20px;
    grid-template-rows: auto;
  }

  .cart_list_central .card {
    display: flex;
  }

  .card .product_photo {
    width: 70%;
    height: 200px;
    margin-bottom: 0;
  }

  .cards_photo {
    height: 200px;
  }

  .cart_list_central .product_total {
    background-color: var(--aventoria-light);
    height: 160px;
  }
  .card .product_data {
    justify-content: flex-start;
  }

  .card .product_name,
  .card .product_date_selected {
    margin-bottom: 10px;
  }

  .card .product_eliminate {
    padding: 5px 10px 5px 10px;
  }
  .product_total_buttons {
    flex-direction: row;
  }

  .aventoria_button_dark {
    width: 250px;
    margin-left: 20px;
  }
}
