.Cart {
  background-color: var(--aventoria-light);
  padding: 20px;
  position: absolute;
  top: 52px;
  right: 20px;
  width: 280px;

  /* left: 25px;
  right: 25px; */
  z-index: 1;
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.2);
  animation: fadeEnter 0.3s ease-in-out 0s both;
}

.Cart .cart_card {
  background-color: white;
  display: flex;
  position: relative;
  margin-bottom: 20px;
}

.cart_card .product_photo {
  min-width: 100px;
  min-height: 100px;
  margin-right: 5px;
  background-position: center;
  background-size: cover;
}

.Cart .experience_total {
  font-size: 26px;
}

.Cart .experience_cart_name {
  text-align: left;
  font-size: 15px;
  font-weight: 400;
  color: var(--darkblue);
  text-transform: initial;
  margin-right: 30px;
  margin-bottom: 0;
}

.Cart .experience_cart_price {
  text-align: left;
  font-size: 18px;
  font-weight: 400;
  color: var(--darkblue);
  margin-right: 30px;
  margin-bottom: 0;
}

.Cart .experience_cart_price span {
  font-weight: 700;
}

.Cart .experience_cart_total {
  text-align: left;
  font-size: 20px;
  font-weight: 400;
  color: var(--darkblue);
  margin-top: 10px;
}

.Cart .experience_cart_total span {
  font-weight: 700;
}

.experience_eliminate {
  background-color: var(--orange);
  font-size: 15px;
  color: white;
  border: 0px;
  position: absolute;
  right: 0px;
}

.aventoria_button_checkout {
  background-color: var(--orange);
  border: none;
  color: white;
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.4s ease;
  width: 100%;
  margin: 10px 0px 10px 0px;
  margin-top: 10px;
}

.aventoria_button_checkout:hover {
  background-color: var(--darkorange);
}

@keyframes fadeEnter {
  from {
    opacity: 0;
    transform: translateY(-10%);
  }

  to {
    opacity: 1;
    transform: translateY(0%);
  }
}

@media (min-width: 700px) {
  .Cart {
    width: 300px;
    right: 100px;
  }
}

@media (min-width: 1200px) {
  .Cart {
    width: 300px;
    right: 250px;
  }
}
