h2 {
    color: var(--darkblue);
    font-weight: bold;
}

.EditUser {
    padding-left: 80px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin-bottom: 20px;
    color: var(--darkblue);
}

.EditUser label {
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

}

.EditUser label input {
    width: 500px;
    background-color: var(--aventoria-light);
    border: none;
    padding: 5px;
}

.EditUser .cajaFoto .avatar {
    background-color: var(--gray);
    background-position: center center;
    background-size: cover;
    border: 1px solid #aaa;
    height: 100px;
    width: 100px;
    margin: 6px 0 10px;
}

.EditUser .huecoAvatar .cajaFoto {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.EditUser button  {
    margin-bottom: 20px;
}