.container_experiences {
  display: flex;
  justify-content: center;
  align-items: center;
}

.experiences {
  width: 90vw;
}

.h1-experiencias {
  color: var(--darkblue);
  font-weight: 700;
}

.experiences .central {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  grid-template-areas:
    "filter"
    "results";
  margin-top: 50px;
}

.filter_box {
  background-color: var(--aventoria-light);
  padding: 25px;
  text-align: left;
  display: flex;
  flex-direction: column;
  font-size: 14px;
  color: var(--darkblue);
  margin-bottom: 30px;
  grid-area: filter;
}

.filter_box input {
  border: 0;
  padding: 10px;
  width: 250px;
}

.filter_box .input_experience select,
.filter_box .input_city select {
  padding: 12px;
  width: 100%;
  border: none;
  outline: none;
  background-color: #fff;
  text-transform: capitalize;
}

.filter_box .input_experience select:focus {
  border: 1px solid #888;
}

.filter_box .input_experience,
.input_city {
  position: relative;
  width: 100%;
  background-color: white;
  margin-bottom: 20px;
}

.filter_box .search_icon {
  position: absolute;
  left: 5px;
  top: 5px;
  color: var(--darkgray);
}

.filter_box input:focus {
  outline: none;
}

.filter_box .MuiFormControl-root {
  padding: 2px;
  box-shadow: none;
  width: 100%;
  margin-bottom: 20px;
}

.filter_box .MuiButtonBase-root {
  width: 50px;
}

.filter_box #date-picker-dialog {
  width: 100%;
  color: var(--darkgray);
  margin: 0px;
}

.filter_box .input_city input {
  margin-left: 35px;
}

.filter_box .input_price_min input,
.filter_box .input_price_max input {
  width: 100%;
}

.filter_box .input_price_min,
.filter_box .input_price_max {
  margin-bottom: 20px;
}

.filter_box .input_price_max {
  margin-bottom: 30px;
}

.filter_box p {
  margin: 0 0 10px 0;
}

.experience_list_title_area {
  text-align: left;
  width: 100%;
  display: flex;
  justify-content: space-between;
  grid-area: filter;
}

.experience_list_title_area .MuiSvgIcon-root {
  margin-top: 10px;
  color: var(--orange);
}

.experience_list {
  width: 90vw;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.experience_list a {
  color: var(--orange);
}

.individual_experience {
  border: 2px solid var(--gray);
  width: 100%;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  padding: 25px;
  text-align: left;
  margin-bottom: 20px;
}

.experience_photo {
  min-width: 75vw;
  min-height: 200px;
  background-size: cover;
  background-position: center;
  margin-right: 30px;
}

.experiences .experience_data {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  color: var(--darkblue);
}

.experience_name {
  margin-top: 20px;
  font-size: 22px;
  font-weight: bold;
  color: var(--orange);
  text-transform: initial;
}

.city_cancelation {
  display: flex;
  flex-direction: column;
  font-size: 16px;
  font-weight: 700;
  margin: 0;
  text-align: left;
}

.experience_city img {
  margin-right: 10px;
}

.experience_cancelation_policy {
  color: var(--aventoria-dark);
}

.experience_data_price {
  font-size: 30px;
  margin-bottom: 0;
  color: var(--orange);
  font-weight: 700;
  align-self: flex-end;
}

.MuiPagination-root {
  margin-bottom: 60px;
}

@media (min-width: 700px) {
  .experiences .central {
    grid-template-areas: "filter results";
    grid-template-columns: 25vw 65vw;
    grid-template-rows: auto;
    gap: 20px;
  }

  .filter_box {
    font-size: 10px;
    padding: 15px;
    height: 350px;
  }

  .filter_box .input_experience select,
  .filter_box .input_city select {
    padding: 5px;
  }

  .filter_box .input_experience,
  .input_city {
    margin-bottom: 10px;
  }

  .filter_box #date-picker-dialog {
    font-size: 10px;
  }

  .filter_box .MuiButtonBase-root {
    width: 20px;
  }

  .filter_box .MuiSvgIcon-root {
    width: 20px;
  }

  .filter_box .MuiFormControl-root {
    margin-bottom: 5px;
  }

  .filter_box .input_price_min {
    margin-bottom: 5px;
  }

  .filter_box .input_price_max {
    margin-bottom: 20px;
  }
  .filter_box p {
    margin-bottom: 5px;
  }

  .filter_box input {
    padding: 5px;
  }

  .experience_list {
    margin-right: 20px;
    width: 63vw;
    font-size: 12px;
  }

  .individual_experience {
    flex-direction: row;
  }

  .experience_photo {
    min-width: 25vw;
    height: 150px;
    margin-right: 20px;
  }

  .experience_name {
    margin-top: 0px;
    font-size: 14px;
  }

  .city_cancelation {
    font-size: 11px;
    flex-direction: row;
  }

  .experience_city img {
    width: 15px;
    margin-right: 5px;
  }

  .experience_city {
    margin-bottom: 0;
    margin-right: 10px;
  }

  .experience_data_price {
    font-size: 24px;
  }
}

@media (min-width: 1200px) {
  .experiences {
    width: 70vw;
  }

  .experiences .central {
    width: 70vw;
    grid-template-columns: 16vw 52vw;
  }

  .filter_box {
    height: 520px;
    font-size: 13px;
  }

  .filter_box .input_experience select,
  .filter_box .input_city select {
    padding: 12px;
  }

  .filter_box .input_experience,
  .input_city {
    margin-bottom: 20px;
  }

  .filter_box #date-picker-dialog {
    font-size: 13px;
  }

  .filter_box .MuiButtonBase-root {
    padding: 12px;
    width: 50px;
  }

  .filter_box .MuiSvgIcon-root {
    width: 50px;
  }

  .filter_box .MuiFormControl-root {
    margin-bottom: 20px;
  }

  .filter_box .input_price_min {
    margin-bottom: 20px;
  }

  .filter_box .input_price_max {
    margin-bottom: 20px;
  }
  .filter_box p {
    margin-bottom: 5px;
  }

  .filter_box input {
    padding: 10px;
  }

  .experience_list {
    width: 100%;
    font-size: 14px;
  }

  .experience_name {
    font-size: 26px;
  }

  .experience_photo {
    min-width: 20vw;
    height: auto;
    margin-right: 20px;
  }

  .experience_city img {
    width: 20px;
  }

  .experience_city {
    margin-right: 20px;
  }

  .city_cancelation {
    font-size: 16px;
  }

  .experience_data_price {
    margin-top: 20px;
    font-size: 30px;
  }
}
