.Footer {
  color: white;
}

ul {
  padding-inline-start: 0px;
}

.Footer a {
  text-decoration: none;
  color: white;
}

.Footer a:visited {
  text-decoration: none;
}

.central_first {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  width: 80vw;
  padding: 20px 0 20px 0;
}

.central_second {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  width: 100vw;
  padding: 5px 40px 5px 40px;
}

.central_second p {
  margin-top: 10px;
  margin-bottom: 0;
}

.footer_first {
  background-color: var(--aventoria-medium);
  display: flex;
  justify-content: center;
  text-align: left;
}

.footer_first ul {
  list-style-type: none;
}

.footer_first ul li {
  padding-bottom: 10px;
}

.footer_second {
  background-color: var(--aventoria-dark);
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.second_links {
  display: flex;
  margin-bottom: 0;
  flex-direction: column;
}

.footer_second ul {
  list-style: none;
}

.footer_second ul li {
  padding: 10px 0;
  text-align: left;
}

.link_title {
  font-weight: 700;
}

.rrss_icon a {
  padding-right: 5px;
}

@media (min-width: 700px) {
  .central_first {
    flex-direction: row;
    width: 90vw;
  }

  .second_links {
    flex-direction: row;
  }

  .central_second {
    flex-direction: row;
  }

  .footer_second ul li {
    padding: 10px;
  }
}

@media (min-width: 1200px) {
  .central_first {
    width: 70vw;
  }
}
