.Header {
  background-color: var(--aventoria-dark);
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-size: 14px;
  z-index: 2;
}

.central_header {
  width: 90vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.central_header .logo img {
  width: 180px;
}

.central_header .area {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.area .icon,
.area .icon_cart {
  padding-right: 20px;
  padding-left: 20px;
  height: 20px;
  color: white;
  position: relative;
}

.cart_notification {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: var(--orange);
  position: absolute;
  top: 5px;
  left: 33px;
}

.cart_notification_number {
  font-weight: 700;
  font-size: 12px;
  margin-bottom: 5px;
  top: -2px;
  left: 5px;
  position: absolute;
}

.area .icon img,
.area .icon_cart img {
  padding-right: 20px;
  padding-left: 20px;
  height: 20px;
}

.area select {
  background: var(--aventoria-dark);
  border: none;
  font-size: 13px;
  padding-right: 5px;
  margin-right: 15px;
  color: white;
}

.user-info {
  position: relative;
}

.icon {
  position: relative;
}

.icon_area {
  display: flex;
}

.avatar {
  background-size: cover;
  width: 30px;
  height: 30px;
  margin-left: 20px;
  border-radius: 50%;
}

@media (min-width: 700px) {
  .central_header {
    width: 90vw;
  }

  .central_header .logo img {
    width: 100%;
  }
}

@media (min-width: 1200px) {
  .central_header {
    width: 70vw;
  }
}
