.portada {
  height: 600px;
  background-size: cover;
  background-position: center;
  text-align: left;
  margin: none;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.portada .search_button {
  background-color: var(--orange);
  color: white;
  padding: 9px;
  margin: 15px;
  border: none;
  cursor: pointer;
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.633);
  transition: background-color 0.4s ease;
}

.portada .search_button:hover {
  background-color: var(--darkorange);
}

.portada select {
  width: 250px;
  padding: 10px;
  margin: 15px;
  border: none;
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.633);
  text-transform: capitalize;
}

.top-experience h1 {
  margin-top: 20px;
  color: var(--aventoria-dark);
}

.top-experience .central img {
  width: 100px;
  height: 100px;
}

.MuiFormControl-root {
  background-color: white;
  width: 250px;
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.633);
}

.MuiFormControl-root .MuiInput-underline:before {
  border-bottom: 0;
}

.MuiFormControl-root .MuiInput-underline:hover:not(.Mui-disabled):before {
  border-bottom: 0;
}

.MuiFormControl-root .MuiInput-underline:after {
  border-bottom: 0;
}

#date-picker-dialog {
  margin-left: 10px;
  font-family: "Raleway", sans-serif;
  color: var(--darkblue);
  padding: 10px;
}

.MuiDialog-container .MuiPickersToolbar-toolbar {
  background-color: var(--aventoria-dark);
}

.MuiDialog-container .MuiPickersDay-daySelected {
  background-color: var(--aventoria-dark);
}

.MuiDialog-container .MuiPickersDay-daySelected:hover {
  background-color: var(--aventoria-medium);
}

.MuiDialog-container .MuiButton-textPrimary {
  color: var(--aventoria-dark);
}

@media (min-width: 700px) {
  .portada {
    flex-direction: row;
  }
}
