.Login {
  position: absolute;
  top: 36px;
  right: 0;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  background-color: white;
  color: var(--darkblue);
  z-index: 1;
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.2);
  animation: fadeEnter 0.3s ease-in-out 0s both;
  width: 400px;
}

.Login .Title_P1 {
  color: var(--aventoria-dark);
  margin-top: 20px;
  font-size: 24px;
  font-weight: bold;
}

.Login .Title_P3 {
  margin: 0px;
}

.form_login {
  width: 100%;
}

.form_login label {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
  text-align: left;
}

.form_login span {
  width: 100px;
}

.form_login input {
  width: 100%;
  padding: 10px;
  background-color: var(--aventoria-light);
  border: none;
  color: var(--darkblue);
}

.form_button_area {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.form_button_area span {
  width: 100%;
}

.form_button_area input {
  width: 20px;
}

.form_login button {
  background-color: var(--orange);
  font-size: 15px;
  color: white;
  border: 0;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 10px 15px 10px 15px;
}

.form_login p {
  color: var(--darkblue);
}

@keyframes fadeEnter {
  from {
    opacity: 0;
    transform: translateY(-10%);
  }

  to {
    opacity: 1;
    transform: translateY(0%);
  }
}
