.LoginPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--darkblue);
    z-index: 1;
}

.login_container {
    width: 500px;
    margin: 220px 0 220px 0;
}

.LoginPage .Title_P1 {
    color: var(--aventoria-dark);
    margin-top: 20px;
    font-size: 24px;
    font-weight: bold;
}

.LoginPage .Title_P3 {
    margin: 0px;
}

.LoginPage .form_login {
    width: 100%;
}

.LoginPage  .form_login label {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    text-align: left;
}

.LoginPage .form_login span {
    width: 100px;
}

.LoginPage .form_login input {
    width: 100%;
    padding: 10px;
    background-color: var(--aventoria-light);
    border: none;
    color: var(--darkblue);
}

.LoginPage .form_button_area {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.LoginPage .form_button_area span {
    width: 100%;
}

.LoginPage .form_button_area input {
    width: 20px;
}

.LoginPage .form_login button {
    background-color: var(--orange);
    font-size: 15px;
    color: white;
    border: 0;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px 15px 10px 15px;
}

.LoginPage .form_login p {
    color: var(--darkblue);
}
