.MenuUser {
  background-color: var(--aventoria-light);
  position: absolute;
  top: 41px;
  right: 0;
  z-index: 1;
  color: var(--darkblue);
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.2);
  animation: fadeEnter 0.3s ease-in-out 0s both;
}

.MenuUser ul {
  padding-inline-start: 0px;
  list-style: none;
  margin: 0px;
}

.MenuUser a {
  text-decoration: none;
  color: var(--darkblue);
}

.MenuUser a:visited {
  text-decoration: none;
  color: var(--darkblue);
}

.MenuUser a:active {
  text-decoration: none;
  color: white;
}

.MenuUser li {
  width: 160px;
  padding: 15px;
}

.MenuUser li:hover {
  background-color: var(--aventoria-medium);
  color: var(--darkblue);
}

@keyframes fadeEnter {
  from {
    opacity: 0;
    transform: translateY(-30%);
  }

  to {
    opacity: 1;
    transform: translateY(0%);
  }
}
