.NewExperience {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 100px;
  margin-bottom: 60px;
  color: var(--darkblue);
  text-align: left;
}

.NewExperience h1 {
  font-weight: 700;
  color: var(--orange);
  font-size: 28px;
}

.inputcheckbox {
  text-align: left;
}

.checkbox_texto {
  margin-left: 10px;
}

.NewExperience .input_text {
  width: 500px;
  background-color: var(--aventoria-light);
  border: none;
  padding: 5px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.NewExperience .input_text_area {
  width: 500px;
  height: 100px;
  background-color: var(--aventoria-light);
  border: none;
  padding: 5px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.new_experience_form label:nth-child(15) {
  margin-bottom: 20px;
}

.checkbox_input {
  display: block;
  width: 300px;
}

.checkbox_input span {
  margin-left: 10px;
}
