.OneExperience {
  color: var(--darkblue);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.OneExperience a {
  color: white;
}

.experience_top {
  width: 90vw;
  padding: 20px 0 20px 0;
  display: grid;
  gap: 16px;
  grid-template-rows: auto auto auto;
  grid-template-areas:
    "title  title"
    "price   price"
    "details   details";
}

.experience_title {
  font-weight: 700;
  font-size: 40px;
  margin: 0;
  color: var(--darkblue);
  grid-area: title;
}

.experience_details {
  display: flex;
  grid-area: details;
  justify-content: center;
  flex-wrap: wrap;
}

.experience_details li {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-left: 10px;
  margin-right: 10px;
}

.experience_details p {
  font-size: 18px;
  margin: 0;
  margin-left: 10px;
  color: var(--darkblue);
}

.experience_details_highlight {
  font-weight: 700;
  color: var(--orange);
  margin-left: 0;
}

.experience_price_area {
  grid-area: price;
  display: flex;
  justify-content: center;
}

.experience_price {
  font-size: 30px;
  margin-bottom: 20px;
  margin-right: 16px;
  color: var(--orange);
}

.carousel {
  margin-bottom: 40px;
}

.carousel_div {
  width: 90vw;
  height: 250px;
  background-size: cover;
  background-position: center;
}

hr {
  border: 0.5px solid var(--gray);
  margin: 20px 0 20px 0;
}

.information_column {
  width: 90vw;
  text-align: left;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
}

.information_data_column {
  width: 90vw;
}

.information_data_column h2,
.reviews_title {
  color: var(--orange);
  font-size: 24px;
  margin-bottom: 0px;
}

.information_details th {
  padding: 10px 30px 10px 0;
}

.date_column {
  width: 100%;
  margin-bottom: 30px;
}

.selected_date {
  background-color: var(--aventoria-light);
  padding: 20px;
  margin-bottom: 20px;
}

.selected_date p {
  margin-bottom: 0;
}

.date_inherited {
  font-size: 24px;
  font-weight: 700;
}

.disponibility {
  margin-top: 15px;
}

.disponibility span {
  font-weight: 900;
}

.selected_date_button {
  width: 100%;
  background-color: var(--orange);
  margin-top: 20px;
  border: none;
  color: white;
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.4s ease;
}

.selected_date_button:hover {
  background-color: var(--darkorange);
}

.aventoria_button_second_date {
  width: 100%;
  background-color: var(--aventoria-dark);
  border: none;
  color: white;
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.4s ease;
}

.aventoria_button_second_date:hover {
  background-color: var(--aventoria-darkest);
}

.google_map {
  border: none;
  width: 100%;
  height: 300px;
}

.information_price {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.information_price h2 {
  font-size: 30px;
}

.date_container .MuiFormControl-root {
  width: 100%;
  background-color: var(--aventoria-light);
  margin-bottom: 20px;
  box-shadow: none;
  padding: 5px;
  border: none;
}

.reviews {
  width: 90vw;
  text-align: left;
  margin-bottom: 80px;
}

.review_unique {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  background-color: var(--aventoria-light);
  padding: 20px;
}

.review_area {
  display: flex;
  width: 80%;
}

.review_text {
  padding-left: 20px;
}

.accordion_quantity_area {
  padding: 20px;
  background-color: var(--aventoria-light);
  animation: fadeEnter 0.3s ease-in-out 0s both;
}

.quantity_area {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-bottom: 20px;
}

.total_area {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-bottom: 20px;
}

.total_area p {
  font-size: 24px;
  font-weight: 700;
  margin: 0px;
}

.accordion_quantity_area h4 {
  color: var(--darkblue);
  font-size: 16px;
  margin: 0px;
}

.spinner_number {
  font-size: 18px;
  padding-left: 10px;
  padding-right: 10px;
}

.aventoria_button_confirm {
  width: 100%;
  background-color: var(--orange);
  border: none;
  color: white;
  padding: 10px;
  cursor: pointer;
  position: relative;
  transition: background-color 0.4s ease;
}

.aventoria_button_confirm:hover {
  background-color: var(--darkorange);
}

.box_go_to_cart {
  background-color: white;
  padding: 20px;
  position: absolute;
  bottom: 80px;
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.2);
}

.box_go_to_cart:before {
  content: "";
  position: absolute;
  right: 50%;
  top: 115px;
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-top: 20px solid white;
}

@keyframes fadeEnter {
  from {
    opacity: 0;
    transform: translateY(-5%);
  }

  to {
    opacity: 1;
    transform: translateY(0%);
  }
}

@media (min-width: 700px) {
  .experience_top {
    grid-template-areas:
      "title price"
      "details price"
      ". .";
  }

  .experience_title {
    font-size: 32px;
    text-align: left;
  }

  .experience_details {
    justify-content: flex-start;
    gap: 20px;
  }

  .experience_price_area {
    flex-direction: column;
    align-self: flex-start;
    justify-content: flex-start;
    text-align: right;
  }

  .experience_price {
    margin-right: 0;
    margin-bottom: 10px;
    align-self: initial;
  }

  .carousel_div {
    height: 350px;
    background-size: cover;
    background-position: center;
  }

  .information_column {
    width: 90vw;
    text-align: left;
    display: grid;
    grid-template-columns: minmax(200px, 2fr) 1fr;
    grid-template-rows: auto;
    grid-template-areas:
      "information_data date_column"
      "information_data date_column";
  }

  .information_data_column {
    width: 100%;
  }

  .information_description,
  .information_details,
  .information_cancelation {
    margin-right: 30px;
  }

  hr {
    margin: 50px 30px 50px 0;
  }

  .google_map,
  .information_price {
    width: calc(100% - 30px);
  }
}

@media (min-width: 1200px) {
  .experience_top {
    margin-top: 20px;
    width: 70vw;
  }

  .carousel_div {
    width: 70vw;
    height: 600px;
  }

  .information_column {
    width: 70vw;
    grid-template-columns: minmax(200px, 3fr) 1fr;
  }

  .reviews {
    width: 70vw;
  }
}
