h2 {
    color: var(--aventoria-dark);
    font-weight: bold;
}

.changePassword {
    padding-left: 80px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

}

.changePassword label {
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

}

.changePassword label input {
    width: 350px;
    background-color: var(--aventoria-light);
    border: none;
    padding: 5px;
}