.todo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 100px;
  color: var(--darkblue);
}

.h1-profile {
  color: var(--orange);
  margin-left: 80px;
  font-weight: bold;
  margin-bottom: 40px;
  font-size: 36px;
  text-align: left;
}

.h2-profile {
  color: var(--darkblue);
  font-weight: bold;
}

.secciones {
  width: 80vw;
  margin-left: 80px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
}

.user_form_area {
  width: 600px;
}

.secciones .profile {
  padding-left: 80px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-bottom: 60px;
}

.profile label {
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.profile label input {
  width: 500px;
  background-color: var(--aventoria-light);
  border: none;
  padding: 5px;
}

.secciones .accordion {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  background-color: var(--aventoria-light);
  text-align: left;
  padding: 20px;
  margin-bottom: 60px;
}

.nav {
  padding-bottom: 10px;
  color: var(--darkblue);

}

.profile_button {
  background-color: var(--aventoria-dark);
  border: none;
  color: white;
  padding: 10px;
  width: 120px;
  margin-bottom: 20px;
}

.active {
  text-decoration: underline;
  color: var(--darkblue);
}
