.profile .huecoAvatar {
  width: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile .cajaFoto .avatar {
  background-color: var(--gray);
  background-position: center center;
  background-size: cover;
  border: 1px solid var(--gray);
  height: 100px;
  width: 100px;
  margin: 6px 0 5px;
}

.profile .button_modify {
  background-color: var(--orange);
  border: none;
  padding: 10px;
  color: white;
}
