.RatingComment {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 35vh;
  animation: fadeEnter 0.3s ease-in-out 0s both;
}

.RatingComment form {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  background-color: white;
  padding: 30px;
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.2);
}

.disable_form {
  display: none;
}

.RatingComment .comment_confirmation {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 660px;
  height: 275px;
}

.RatingComment .text_comment {
  width: 600px;
  min-height: 100px;
  margin-bottom: 20px;
}

.RatingComment button {
  margin-top: 20px;
}


@keyframes fadeEnter {
  from {
    opacity: 0;
    transform: translateY(-10%);
  }

  to {
    opacity: 1;
    transform: translateY(0%);
  }
}
