.register {
    padding-top: 100px;

}

.h1-register {
    color: var(--orange);
    font-weight: bold;
    margin-bottom: 40px;
    font-size: 36px;
}

h2 {
    color: var(--darkblue);
    font-weight: bold;
}

.register {

    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.register label {
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.register label input {
    width: 400px;
    background-color: var(--aventoria-light);
    border: none;
    padding: 5px;
}

.register .huecoAvatar .cajaFoto {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.register .cajaFoto .avatar {
    background-color: var(--gray);
    background-position: center center;
    background-size: cover;
    border: 1px solid var(--gray);
    height: 100px;
    width: 100px;
    margin: 6px 0 10px;
}

.register .register_button {
    width: 400px;
    background-color: var(--orange);
    border: none;
    color: white;
    padding: 10px;
    cursor: pointer;
    transition: background-color .4s ease;
}

.register .register_button:hover {
    background-color: var(--darkorange);
  }


.register_button_second {
    width: 400px;
    background-color: var(--aventoria-dark);
    border: none;
    color: white;
    padding: 10px;
    cursor: pointer;
    transition: background-color .4s ease;
    margin-bottom: 60px;
}

.register_button_second:hover {
    background-color: var(--aventoria-darkest);
  }