.Reservation {
  margin-left: 80px;
  margin-bottom: 60px;
}

.card_reservation {
  border: 2px solid var(--gray);
  width: 100%;
  flex: 1 0 100%;
  display: flex;
  justify-content: flex-start;
  padding: 25px;
  text-align: left;
  margin-bottom: 20px;
}

.enable {
  position: absolute;
  width: 480px;
  height: 220px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  text-align: left;
  margin-bottom: 20px;
  opacity: 0.8;
  background-color: white;
}

.enable::before {
  content: "Reserva cancelada";
  font-size: 22px;
  font-weight: 700;
  opacity: 1;
  z-index: 5;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card_reservation_img {
  object-fit: cover;
  width: 180px;
}

.card_reservation_data {
  margin-left: 20px;
  width: 100%;
}

.no_reservation {
  text-align: center;
}

.card_reservation_title {
  font-weight: 700;
  font-size: 18px;
  color: var(--darkblue);
}

.card_reservation_price {
  font-weight: 700;
  font-size: 18px;
  color: var(--orange);
}
