.h1-portada {
  color: var(--aventoria-dark);
  margin: 40px 0px;
}

.top-cities {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.top-cities a {
  color: var(--darkblue);
  text-decoration: none;
}

.top-cities .central {
  display: grid;
  grid-template-columns: 80vw;
  grid-template-rows: auto auto auto;
}

.central .cajitas img {
  width: 100%;
}

.top-cities .central .nombre_ciudad {
  margin-top: 10px;
  font-size: 20px;
}

.top-cities .central img {
  object-fit: cover;
  height: 250px;
}

.top-cities .verMas {
  background-color: var(--orange);
  border: none;
  padding: 10px;
  width: 80vw;
  color: white;
  margin-top: 10px;
  transition: background-color 0.4s ease;
}

.top-cities .verMas:hover {
  background-color: var(--darkorange);
}

@media (min-width: 700px) {
  .top-cities .central {
    width: 90vw;
    gap: 3vw;
    grid-template-columns: 28vw 28vw 28vw;
  }

  .top-cities .verMas {
    background-color: var(--orange);
    border: none;
    padding: 10px;
    width: 350px;
    color: white;
    margin: 40px 0px;
    transition: background-color 0.4s ease;
  }

  .top-cities .verMas:hover {
    background-color: var(--darkorange);
  }
}

@media (min-width: 1200px) {
  .top-cities .central {
    width: 70vw;
    gap: 3vw;
    grid-template-columns: 21vw 22vw 21vw;
  }
}
